<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all comments
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post">
      <div class="form-group">
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="photo_id_box">
          Photo
        </label>

        <input type="text" id="photo_id_box" name="query_photo_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create comment
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Author
        </th>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.id %>
        </td>

        <td>
          <%= comment.body %>
        </td>

        <td>
          <%= comment.author_id %>
        </td>

        <td>
          <%= comment.photo_id %>
        </td>

        <td>
          <%= time_ago_in_words(comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(comment.updated_at) %> ago
        </td>

        <td>
          <a href="/comments/<%= comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
