<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Comment #<%= @comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_comment/<%= @comment.id %>" class="btn btn-block btn-outline-secondary">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @comment.body %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @comment.author_id %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <%= @comment.photo_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @comment.id %>"  method="post" >
      <div class="form-group">
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" class="form-control" rows="3"><%= @comment.body %></textarea>
      </div>

      <div class="form-group">
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" class="form-control" value="<%= @comment.author_id %>">
      </div>

      <div class="form-group">
        <label for="photo_id_box">
          Photo
        </label>

        <input type="text" id="photo_id_box" name="query_photo_id" class="form-control" value="<%= @comment.photo_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
